.container{
    width: 200px;
    height: 300px;
    border: 3px solid red;
    margin: 20px 5px;
    padding:20px 15 px;
    text-align: center ;
    font-size: 20px;
    border-top-left-radius: 10px;
    box-shadow: 2px 2px #777;

}





a {
    color: red ;
}
a:hover{
    color: #EE2266;

}
a:active{
    color: blue;
}
li{
    color: rgba(10,200,168,) ;
}
li.first{
    color: green;
}
ul li{
    color: blue;
}
ul>li{
    color: red;
}

